.BtnTask {
    /* position: relative; */
    border: none;
    background: none;
    outline: inherit;
    cursor: pointer;
    padding: 18px 20px;
    background-color: hsl(235, 24%, 19%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* z-index: 0; */
}

.IconCheck {
    /* background-color: hsl(235, 24%, 19%); */
    display: inline-block;
    padding: 12px;
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
    position: relative;
    /* z-index: 0; */
}

.IconCheckHover:hover {
    border-color: transparent;
    background: 
        linear-gradient(hsl(235, 24%, 19%),hsl(235, 24%, 19%)) padding-box,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

.IconCheckDone {
    border-radius: 50%;
    background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.IconCheckDone::before {
    content: "";
    background-image: url(./../assets/images/icon-check.svg);
    width: 11px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)  translateY(-50%);
}