@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  font-size: 18px;
  font-weight: 400;
  color: hsl(234, 39%, 85%);
  background: no-repeat 0 0/contain url(./assets/images/bg-desktop-dark.jpg),
  hsl(235, 21%, 11%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
  body {
    background: url(./assets/images/bg-mobile-dark.jpg) 0 0/100% auto no-repeat,
    hsl(235, 21%, 11%);
  }
}
